<main class="posts">
    <% if (info) { %>
        <p class="info">
            <%= info %>
        </p>
    <% } %>

    <% posts.forEach((post)=> { %>
        <article class="post">

            <div class="post-profile">
                
                <img src="<%= post.foto %>">
                <p>
                    <%= post.autor %>
                </p>
            </div>

            <header >
                <h1 class="title">
                    <%= post.titulo %>
                </h1>
            </header>

            <a href="/post/user/<%= post.id %>">
                <p>
                    <%= post.texto %>
                </p>
            </a>
        </article>
    <% }); %>
</main>