<main class="posts">
    <% if (info) { %>
        <p class="info">
            <%= info %>
        </p>
    <% } %>

    <% posts.forEach((post)=> { %>
        <a href="/post/user/<%= post.id %>">
            <article class="post">

                <div class="post-profile">
                    
                    <img src="<%= post.foto %>" alt="Foto de Perfil">
                    <p><%= post.autor %></p>
                </div>

                <header >
                    <h1 class="title"><%= post.titulo %></h1>
                </header>

                <p><%= post.texto %></p>
                <% if (post.anexos) { %>
                    <div class="center">
                        <img src="/<%= post.anexos %>" alt="Imagem relacionada ao post">
                    </div>
                <% } %>
            </article>
        </a>
    <% }); %>
</main>