<div class="container">
    <% if (info) { %>
        <p class="info">
          <%= info %>
        </p>
      <% } %>
      
    <main class="post-container" id="main">
        <header class="post-header">
            <h1 class="title"><%= post.titulo %></h1>
        </header>

        <section class="post-section">
            <p><%= post.texto %></p>
            <% if (post.anexos) { %>
                <div class="center">
                    <img src="/<%= post.anexos %>" alt="Imagem relacionada ao post">
                </div>
            <% } %>
        </section>

        <% if (opt.form) { %>
            <div class="reactions">
                <form action="<%= opt.linkCurtir %>/<%= user.id %>/<%= post.id %>" method="post">
                    <button class="btn"><i class="fa-sharp fa-solid fa-thumbs-up fa-lg"></i> <%= post.likes %></button>
                </form>

                <form action="<%= opt.linkSeguir %>/<%= post.usuariosId %>/<%= post.id %>" method="post">
                    <button type="submit" class="btn"><i class="fa-solid fa-users fa-lg"></i> <%= opt.msg %></button>
                </form>
            </div>
        <% } %>
    </main>

    <aside>
        <header>
            <h2 class="title">Comentários</h2>
        </header>

        <article class="user-comment">
            <div class="post-profile">
                <img src="/<%= user.foto %>" alt="Foto de perfil">
                <p><%= user.nick %></p>
            </div>

            <form action="/comentar/<%= user.id %>/<%= post.id %>" method="post">
               <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Deixe seu comentario aqui!"></textarea>
               <input type="submit" value="Enviar!" class="btn"> 
            </form>
        </article>

        <% comentarios.forEach((comment) => { %>
            <article class="comment">
                <div class="post-profile">
                    <img src="/<%= comment.foto %>" alt="logo">
                    <p><%= comment.nick %></p>
                </div>
                
                <p><%= comment.comentario %></p>
            </article>
        <% }) %>
    </aside>

</div>