<main class="profile-editor">
      
    <% if (info) { %>
      <p class="info">
        <%= info %>
      </p>
    <% } %>

    <section id="dados">
      <header class="editor-header">
        <h1>Dados do perfil</h1>
      </header>

      <dl class="user-profile">
        <div class="profile-data">
          <dt><i class="fa-thin fa-pen-circle"></i> Nome</dt>
          <dd>
            <%= dados.pNome %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Sobrenome</dt>
          <dd>
            <%= dados.sNome %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Apelido</dt>
          <dd>
            <%= dados.nick %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Data de Nascimento</dt>
          <dd>
            <%= dados.dataNasc %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Curso</dt>
          <dd>
            <%= dados.curso %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Hobby</dt>
          <dd>
            <%= dados.hobby %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Bio</dt>
          <dd>
            <%= dados.bio %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>E-mail</dt>
          <dd>
            <%= dados.email %>
          </dd>
        </div>
      
        <div class="profile-data">
          <dt>Telefone</dt>
          <dd>
            <%= dados.telefone %>
          </dd>
        </div>
      </dl>
    </section>

    <section>
      <header class="editor-header">
        <h1>Postagens do Usuário</h1>
      </header>

      <% posts.forEach((post)=> { %>
		<a href="/post/user/<%= post.id %>">
			<article class="post">
				<div class="post-profile">
					<img src="/<%= post.foto %>" alt="Foto de perfil">
					<p><%= post.autor %></p>
				</div>

				<header>
					<h1 class="title"><%= post.titulo %></h1>
				</header>
			
				<p><%= post.texto %></p>
				
				<% if (post.anexos) { %>
					<div class="center">
						<img src="/<%= post.anexos %>" alt="Imagem relacionada ao post">
					</div>
				<% } %>

			</article>
		</a>
        <% }); %>
    </section>
  
  </main>